@page
@model RecipeWebApp.Pages.User.IndexModel
@{
}

<section class="dashboard-main-section">
    <div class="dashboard-main-div">
        <div class="dashboard-header">
            <h1>@Model.user.FirstName</h1>
        </div>
        
    </div>
</section>