@import url('colors.css');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: var(--background-off-white);
    padding: 0;
    margin: 0;
}

* {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: var(--text-dark);
}

a {
    text-decoration: none;
}

.text-underline {
    text-decoration: underline;
}

input {
    outline: none;
    transition: 0.2s ease;
}

input:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}