
/* MAIN START */
.main-hero-container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center; /* Add this */
    align-items: center;
    gap: 20rem;
    margin: 15rem 10rem 15rem 10rem;
}

.main-hero-left-col {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    gap: 2rem;
}

.main-hero-left-button-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem;
}

.btn {
    width: 8.5rem;
    height: 2.2rem;
    border-radius: 1rem;
    background-color: var(--accent-sage-green);
    font-size: 1.1rem;
}

    .btn:hover {
        cursor: pointer;
        background-color: #74a08b;
    }

@media (max-width: 1800px) {
    .main-hero-container {
        gap: 10rem;
    }
}

@media (max-width: 1300px) {
    .main-right-col {
        display: none;
    }

    .main-hero-container {
        margin: 0;
        padding-top: 5rem;
    }

    .main-hero-left-col {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-hero-left-button-container {
        gap: 3rem;
    }
}

/* BROWSE */
.browse-main-section-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center; /* Add this */
    align-items: start;
    gap: 2rem;
    margin: 5rem 60rem 5rem 60rem;
}

.browse-main-section-search {
    width: 100%;
    gap: 2rem;
}

@media (min-width: 400px) {
    .browse-main-section-search > form {
        display: grid;
        grid-template-columns: 5fr 3fr 1fr;
    }
}


.browse-search-input {
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 1rem;
}

.browse-search-options-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    gap: 1rem;
}

    .browse-search-options-container > select {
        border: none;
        width: 75%;
    }

.browse-search-btn-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

    .browse-search-btn-container > button {
        width: 8.5rem;
        height: 100%;
        background-color: var(--accent-sage-green);
        border-radius: 1rem;
        font-size: 1.1rem;
    }

@media (max-width: 400px) {
    .browse-main-section-container {
        margin: 2.5rem !important;
    }

    .browse-main-section-search > form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; /* adjust spacing as needed */
    }

    .browse-search-options-container select {
        display: block;
        margin: 0 auto;
    }

    .browse-search-btn-container {
        grid-column: 1 / -1; /* spans both columns */
    }
}

@media (max-width: 3000px) {
    .browse-main-section-container {
        margin: 5rem 30rem 5rem 30rem;
    }
}

@media (max-width: 1800px) {
    .browse-main-section-container {
        margin: 5rem 15rem 5rem 15rem;
    }
}



@media (max-width: 768px) {
    .browse-main-section-container {
        margin: 5rem;
    }

    .browse-search-options-container {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        gap: 0.2rem;
    }

        .browse-search-options-container > select {
            align-self: center;
        }
}

.browse-search-input-container {
    display: grid;
    align-items: center;
}

.browse-divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--accent-sage-green);
    z-index: 1000;
}

/* BROWSE CARDS */

.browse-main-section-showcase {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 2400px) {
    .browse-main-section-showcase {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 1400px) {
    .browse-main-section-showcase {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 1100px) {
    .browse-main-section-showcase {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 580px) {
    .browse-main-section-showcase {
        grid-template-columns: 1fr !important;
    }
}


.recipe-card {
    display: grid;
    width: 15rem;
    height: 20rem;
    background-color: white;
    place-self: center;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    border-radius: 2rem;
    border: white 1px solid;
    transition: 0.2s ease;
}

.recipe-card:hover {
    transform: scale(1.02);
}

.recipe-card-img-container {
    width: 100%;
    height: 10rem;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    justify-content: end;
    align-items: start;
}

.recipe-card-text-container {
    display: grid;
}

.recipe-card-text-container > p {
    margin: 0.5rem;
}

.recipe-card-text-title {
    font-weight: 900 !important;
    padding-top: 1rem;
}

.recipe-card-text-last-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: start;
    margin: 0.5rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recipe-showcase-nonfound-msg {
    place-self: center;
}


.recipe-img-saves-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-off-white);
    border-radius: 1.5rem;
    width: auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    gap: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
}

.recipe-saves-text {
    font-weight: bold;
    place-self: center;
    margin: 0;
}

.recipe-saves-img {
    height: auto;
    width: 1.5rem;
    place-self: center;
}

/* Recipe page */

.recipe-page-container {
    margin: 5rem 20rem 0 20rem;
    display: grid;
    padding: 0 1rem 0 1rem;
}

@media (max-width: 500px) {
    .recipe-page-container {
        margin: 5rem 0 0 0;
        justify-content: center;
        align-items: center;
    }

    .top-image-container {
        width: 95% !important;
        align-self: center !important;
    }

    .recipe-text-container {
        margin: 0 0 0 0 !important;
        width: 90% !important;
    }

    .direction-container {
        width: 90vw;
    }

    .ingredient-table-information-container {
        width: 90vw !important;
    }
}


.top-image-container {
    background-image: url(/content/undraw_diet_zdwe.png);
    background-repeat: repeat-x;
    background-position: center;
    height: 20rem;
    width: auto;
}

.recipe-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 2.5rem 0 2.5rem;
}

.recipe-text-container > h1 {
    align-self: center;
}

.ratings-container {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.ratings-item {
    font-size: 2rem;
}

.ingredient-table-information-container {
    border-collapse: collapse;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.ingredient-table-information-container > .ingredient-container > table {
    width: 50%;
    border: 1px solid white;
}

.ingredient-table-information-container > .ingredient-container > table > td {
    border: 1px solid white;
}

.ingredient-container > h2 {
    margin: 0 0 1rem 0;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.information-container-container {
    text-align: center;
}

.information-container-container > h2 {
    margin: 0;
    width: fit-content;
    background-color: var(--accent-sage-green);
    border-radius: 2rem 0 0 0;
    }

.information-header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.information-header-container > h2 {
    margin: 0;
    width: fit-content;
    background-color: var(--accent-sage-green);
    padding: 0 1rem 0 1rem;
    border-radius: 1rem 1rem 0 0;
}

.information-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: white;
    border-radius: 1rem;
}

/* LOGIN */

.login-main-section {
    height: 95vw;
    width: 99vw;
    place-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-main-div {
    width: 35rem;
    height: 27rem;
    border-radius: 1rem;
    background: white;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    padding: 1rem;
    margin-top: -100%;
}

.login-header {
    display: grid;
    text-align: center;
    align-items: center;
}

.login-header > h1 {
    margin: 0;
}

.login-form {
    display: grid;
    width: 80%;
    place-self: center;
    gap: 4rem;
}

.login-submit-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.login-submit-btn > button {
    width: 8.5rem;
    height: fit-content;
    background-color: var(--accent-sage-green);
    border-radius: 1rem;
    font-size: 1.1rem;
    place-self: center;
    align-self: center;
}

#create-account {
    text-align: start;
}

.input-styling {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--background-off-white);
    padding-left: 1.5rem;
    outline: none;
    transition: 0.2s ease;
}