@using RecipeWebApp.Models;
@using RecipeWebApp.Services;
@{
    bool loginStateCheck = SessionService.UserAuthenticate();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plateful</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="left-col" asp-page="/Index">
                <img class="nav-logo" src="/content/fork.png" alt="">
                <p class="nav-logo-text">PLATEFUL</p>
            </a>
            <div class="right-col">
                <ul class="nav-list">
                    <li class="list-item"><a asp-area="" asp-page="/Index">Home</a></li>
                    <li class="list-item"><a asp-area="" asp-page="/Recipe/Browse">Browse Recipes</a></li>
                    <li class="list-item"><a asp-area="" asp-page="/meal-planner">Meal Planner</a></li>
                    <li class="list-item"><a asp-area="" asp-page="/Blog">Blog</a></li>
                    <li class="list-item"><a asp-area="" asp-page="/About">About</a></li>
                    <li class="navbar-divider"></li>
                    @if(!loginStateCheck) 
                    {
                    <li class="list-item"><a asp-area="" asp-page="/Account/Login">Login</a></li>
                    <li class="list-item"><a asp-area="" asp-page="/Account/Create_account">Create Account</a></li>
                    } else {
                    <a class="list-item" href="#">@SessionService.GetSessionUser().FirstName &darr;</a>
                    }
                </ul>
                <div class="mobile-burger">
                    <img src="/content/mobile-menu.png" alt="" onclick="ShowMobileNav()" id="mobile-menu-show">
                </div>
            </div>
            <div class="mobile-nav" id="mobile-nav-container">
                <div class="mobile-nav-close-container">
                    <img src="/content/close.png" alt="" onclick="ShowMobileNav()">
                </div>
                <div class="mobile-nav-list-container">
                    <ul class="mobile-nav-ul">
                        <li class="mobile-list-item"><a asp-area="" asp-page="/Index">Home</a></li>
                        <li class="mobile-list-item"><a asp-area="" asp-page="/Recipe/Browse">Browse Recipes</a></li>
                        <li class="mobile-list-item"><a asp-area="" asp-page="/meal-planner">Meal Planner</a></li>
                        <li class="mobile-list-item"><a asp-area="" asp-page="/Blog">Blog</a></li>
                        <li class="mobile-navbar-divider"></li>
                        <li class="mobile-list-item"><a asp-area="" asp-page="/Login/index">Login</a></li>
                        <li class="mobile-list-item"><a asp-area="" asp-page="/Create-account/Index">Create Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - RecipeWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
