@page
@model IndexModel
@{
    ViewData["Title"] = "A great way to discover";
}

<div class="main-hero-container">
    <div class="main-hero-left-col">
        <h1>Your Recipe Collection,<br><span style="font-style: italic; font-weight: 800;">Perfected</span></h1>
        <p>Organize all your favorite recipes, discover new ones from our growing collection, <br> and turn inspiration into tonight's dinner. <br><br> Save what you love, plan your week ahead, and make home cooking easier than ever</p>
        <div class="main-hero-left-button-container">
            <button type="button" onclick="location.href='/Account/Login'" class="btn primary-btn">Login</button>
            <button type="button" onclick="location.href='/Account/Create'" class="btn secondary-btn">Get Started</button>
        </div>
    </div>
    <div class="main-right-col">
        <img src="/content/undraw_diet_zdwe__1_-removebg-preview.png" alt="">
    </div>
</div>